.clothing-item {
  width: 400px;
  height: 300px;
  margin: 30px;
  border: 2px solid black;
  display: inline-flex;
  flex-wrap: wrap;
}

.cloth-img {
  height: 300px;
  width: auto;
}

.info-box {
  margin: 10px auto auto 30px;
}

